  <h1><%= @user.email %></h1>

<a href="<%= profile_edit_path %>">Edit User Info</a>
<a href="<%= user_path(@user.id) %>" data-method="delete">Delete User Profile</a>
<a href="<%= logout_path %>">LOGOUT</a>

<% @task.each do |t| %>

  <p><%= t.description %></p>
  
<a href="<%= task_path(t.id) %>" data-method="delete">Delete</a>
<a href="<%= edit_task_path(t.id) %>">Edit</a>

<% end %>

<a href="<%= new_task_path %>">Add new task</a>
